<section class="section about position-relative">
	<div class="bg-about"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-6 offset-lg-6 offset-md-0">
				<div class="about-item ">
					<span class="h6 text-color">Nous somme</span>
					<h2 class="mt-3 mb-4 position-relative content-title">Créer des stratégie pour aider à faire des meilleurs investissements</h2>
					<div class="about-content">
						<h4 class="mb-3 position-relative">Nous sommes un club de trading algorithmique</h4>
						<p class="mb-5">La majorité des investisseur perdent de l’argent sur la bourse parce qu'il ne
							connait pas les règle du marché. Nous pensons que ceci est le vas parce qu’ils ne
							connaissent pas l’efficacité de leurs stratégies.Nous développons des algorithmes qui nous
							permettant ainsi de déterminer si nos stratégies auraient fonctionné dans le passé et
							cependant lesquelles vont fonctionner dans le futur.</p>

						<a href="#" class="btn btn-main btn-round-full">Lire sur les stratégie</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>