<section class="mt-70 position-relative">
	<div class="container">
		<div class="cta-block-2 bg-gray p-5 rounded border-1">
			<div class="row justify-content-center align-items-center ">
				<div class="col-lg-7">
					<span class="text-color">Rejoignez-nous</span>
					<h2 class="mt-2 mb-4 mb-lg-0">Pour plus d'information</h2>
				</div>
				<div class="col-lg-4">
					<a href="contact.html" class="btn btn-main btn-round-full float-lg-right ">Contactez-nous</a>
				</div>
			</div>
		</div>
	</div>
</section>
