<div class="col-lg-6 col-md-12 col-sm-12">
    <form action="mailto:algoets@ens.etsmtl.ca" method="post" enctype="text/plain">
        <h3 class="text-md mb-4">Contactez-nous</h3>
        <div class="form-group">
            <input name="name" type="text" class="form-control" placeholder="Votre nom" required>
        </div>
        <div class="form-group">
            <input name="email" type="email" class="form-control" placeholder="Votre courriel" required>
        </div>
        <div class="form-group-2 mb-4">
            <textarea name="message" class="form-control" rows="4" placeholder="Votre message" required></textarea>
        </div>
        <button class="btn btn-main" type="submit">Envoyez message</button>
    </form>
</div>
