.bg-1 {
	background: url("../images/competition/stair-team.jpg") no-repeat 50% 50%;
	background-size: cover;
}

.bg-2 {
	background: url("../images/competition/stair-team.jpg");
	background-size: cover;
}
