.diagonalEdge-footer {
	@extend .diagonalEdge;
	border-top: 50px solid #fff;
	border-left: 100vw solid #E4E4E4;
}



.footer {
  background-color: rgba(34,35,40,1);
  padding-bottom: 10px;
  color: white;

  h3, h4 {
    color: rgb(247, 87, 87);
  }

  a {
    color: white;
    text-decoration: none;
  }
  
  a:focus, a:hover {
    color: $primary-color;
    text-decoration: none;
  }
  
  a:focus {
    outline: none;
  }

  .copyright {
    a {
      font-weight: 600;
    }
  }
}

.lh-35 {
  line-height: 35px;
}

.logo {
  color: $black;
  font-weight: 600;
  letter-spacing: 1px;

  span {
    color: $primary-color;
  }
}

.sub-form {
  position: relative;

  .form-control {
    border: 1px solid rgba(0, 0, 0, 0.06);
    background: $secondary-color;
  }

}

.footer-btm {
  border-top: 1px solid rgba(0, 0, 0, 0.06);
}


// scroll-to-top
.scroll-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 999;
  height: 40px;
  width: 40px;
  background: $primary-color;
  border-radius: 50%;
  text-align: center;
  line-height: 43px;
  color: white;
  cursor: pointer;
  transition: 0.3s;
  display: none;
  @include mobile {
    bottom: 15px;
    right: 15px;
  }
  &:hover {
    background-color: #333;
  }
}