// Intro Section

.diagonalEdge-intro {
	@extend .diagonalEdge;
	top: -50px;
	border-top: 50px solid transparent;
	border-right: 100vw solid #fff;
}

.diagonalEdge-objectives{
	@extend .diagonalEdge;
	border-top: 50px solid #fff;
	border-left: 100vw solid #C1BFB3;
}

.objectives{
	background-color: #C1BFB3;
}

.intro-item{

	i{
		font-size:60px;
		line-height: 60px;
	}
	
}

.color-one{
	color: $primary-color;
}
.color-two{
	color: #00d747;
}
.color-three{
	color:#9262ff;
}
.color-four{
	color:#088ed3;
}