.portflio-item{
	.portfolio-item-content{
		position: absolute;
		content:"";
		right: 0px;
		bottom: 0px;
		opacity: 0;
		transition: all .35s ease;
	}

	&:before{
		position: absolute;
		content:"";
		left: 0px;
		top:0px;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0.8);
		opacity: 0;
		transition: all .35s ease;
		overflow: hidden;
	}

	&:hover:before{
		opacity: 1;
	}

	&:hover .portfolio-item-content{
		opacity: 1;
		bottom: 20px;
		right: 30px;
	}

	.overlay-item{
		position: absolute;
		content:"";
		left: 0px;
		top: 0px;
		bottom: 0px;
		right: 0px;
		display: flex;
		align-items: center;
		justify-content:center;
		font-size:80px;
		color: $primary-color;
		opacity: 0;
		transition: all .35s ease;
	}

	&:hover .overlay-item{
		opacity: 1;
	}

}

.project-card {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	border-radius: 5px;
	margin: 10px;
	padding: 10px;
}

.project-card:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.project-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 10px;
}

.project-title {
	font-size: 18px;
	font-weight: bold;
}

.project-description {
	color: #555;
}

.project-link {
	text-decoration: none;
	color: blue;
	cursor: pointer;
}

.project-stars {
	color: #ffa500;
	font-size: 14px;
}

.project-card:hover .project-link {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}
.project-link {
	transform: translateY(10px);
	transition: all 0.3s ease;
}
.icon {
	display: inline-block;
	margin-right: 5px;
}