<!-- Sidebar Block -->
<div class="col-lg-4 mt-5 mt-lg-0">
    <div class="sidebar-wrap">
        <div class="sidebar-widget card border-0 mb-3">
            <img loading="lazy" src="@@authorImageUrl" alt="blog-author" class="img-fluid">
            <div class="card-body p-4 text-center">
                <h5 class="mb-0 mt-4">@@authorName</h5>
                <p>@@authorRole</p>
                <p>@@authorDescription</p>
                <ul class="list-inline author-socials">
                    <li class="list-inline-item mr-3">
                        <a href="@@authorFacebook"><i class="fab fa-facebook-f text-muted"></i></a>
                    </li>
                    <li class="list-inline-item mr-3">
                        <a href="@@authorTwitter">
                            <i class="fab fa-twitter text-muted"></i>
                        </a>
                    </li>
                    <li class="list-inline-item mr-3">
                        <a href="@@author">
                            <i class="fab fa-linkedin-in text-muted"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
