<div class="diagonalEdge-about"></div>
<section class="section about-2 position-relative">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="about-item pr-3 mb-5 mb-lg-0">
                    <span class="h6 text-color">Qui nous sommes</span>
                    <h2 class="mt-3 mb-4 position-relative content-title">Nous sommes une équipe dynamique de personnes créatives</h2>
                    <p class="mb-5"></p>

                    <a href="contact.html" class="btn btn-main btn-round-full">Commencez</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-item-img">
                    <img loading="lazy" src="images/bg/chart-on-chart.png" alt="image à propos" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>