
<section class="about-info section pt-0">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="about-info-item mb-4 mb-lg-0">
                    <h3 class="mb-3"><span class="text-color mr-2 text-md">01.</span>Notre Mission</h3>
                    <p>AlgoÉTS vise à former une communauté de traders algorithmiques et data scientists, en développant des algorithmes de trading profitables. Nous démarrons par le trading sur papier, avec un focus sur l'analyse de données et l'apprentissage automatique, et offrons des ateliers pour habiliter nos membres.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="about-info-item mb-4 mb-lg-0">
                    <h3 class="mb-3"><span class="text-color mr-2 text-md">02.</span>Notre Vision</h3>
                    <p>Notre objectif est de révolutionner la gestion des investissements via des robots de trading pour cryptomonnaies, rendant les marchés financiers plus accessibles et visant des profits constants. Nous souhaitons créer une plateforme éducative pour simplifier la finance et enrichir notre communauté.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="about-info-item mb-4 mb-lg-0">
                    <h3 class="mb-3"><span class="text-color mr-2 text-md">03.</span>Notre Approche</h3>
                    <p>Nous adoptons une approche d'apprentissage par l'expérience, combinant développement itératif et amélioration continue. Nos plateformes et ateliers visent à comprendre le trading automatisé et à fournir des compétences en finance et gestion des risques.</p>
                </div>
            </div>
        </div>
    </div>
</section>