<!-- Section Testimonial Start -->
<section class="section testimonial bg-gray">
	<div class="container">
		<div class="row">
			<div class="col-lg-7 ">
				<div class="section-title">
					<span class="h6 text-color">Les testimonial de nos membres</span>
					<h2 class="mt-3 content-title">Ce que nos membres disent</h2>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="testimonial-wrap">
			<div class="testimonial-item position-relative">
				<i class="ti-quote-left text-color"></i>

				<div class="testimonial-item-content">
					En commençant à l’ÉTS, je voulais joindre un club, mais il n’y en avait pas qui m’intéressait. Ils
					travaillaient tous sur des autos, des constructions ou des jeux vidéos. J’étais intéressé par le
					code, les sciences de données et les finances. J’ai fait mon premier stage chez Morgan Stanley, une
					grande banque d’investissement, et j’ai appris ce qu’est le trading algorithmique. J’étais déçu que
					je n’avais pas eu la chance de travailler dessus, mais je trouvais que ce ferait un bon club qui
					comble une partie du génie logiciel qui n’était pas couvert par les clubs de l’ÉTS.

					J’en ai parlé à Reda, un collègue et un ami, puis à Sam Lafrance-Jones, un autre de mes amis, et ils
					voulaient le partir avec moi. Nous avons approché l’école et ils étaient ouverts à l’idée, mais
					sceptiques parce qu’ils n’avaient jamais entendu du concept auparavant. Au début, nous nous
					rencontrions chaque semaine et comparions les algorithmes que nous avions développés et testés lors
					de la semaine. Après quelques mois, l’école nous a donné la permission de recruter des membres. Une
					seule publication sur les médias sociaux de l’université nous a apporté au-dessus de 20 étudiants
					intéressés. Depuis ce temps, nous avons seulement continué à grandir.

					Nous avons eu ce succès dans notre ouverture parce que les étudiants de l’ÉTS sont passionnés par
					les sciences de données, les finances et le développement informatique. Une combinaison qui est
					introuvable ailleurs. J’espère que vous aussi pourrez nous aider avec le succès continu du club.</p>

					<div class="testimonial-author">
						<h5 class="mb-0 text-capitalize">Philippe Geukers</h5>
						<p>co-fondateur et président 2021-2022</p>
					</div>
				</div>
			</div>
			<div class="testimonial-item position-relative">
				<i class="ti-quote-left text-color"></i>

				<div class="testimonial-item-content">
					<p>
						Rejoindre AlgoÉTS a
						été une expérience formidable pour moi. En tant que co-capitaine infrastructure, j'ai eu
						l'opportunité unique d'allier mes compétences de sys-admin à l'élaboration d'algorithmes
						financiers. Cette synergie m'a permis non seulement de développer de nouvelles compétences
						techniques, mais aussi de forger des amitiés durables au sein du club. Travailler avec des
						personnes partageant les mêmes idées m'a ouvert à de nouvelles perspectives, surtout en matière
						de finance personnelle et d'investissement en bourse. Grâce au club, j'ai pu prendre des
						décisions financières plus éclairées et mieux comprendre les dynamiques du marché. AlgoÉTS n'est
						pas seulement un club, c'est une communauté où l'apprentissage et le partage des connaissances
						vont de pair avec le développement personnel et professionnel.
					</p>
					<div class="testimonial-author">
						<h5 class="mb-0 text-capitalize">Antoine Boucher</h5>
						<p>co-capitaine infrastructure</p>
					</div>
				</div>
			</div>
		</div>
</section>
<!-- Section Testimonial End -->