<footer class="footer section">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <img src="/images/logo.png" width="200" height="240" alt="logoAlgoEts">
      </div>

      <div class="col-lg-3 col-md-3 col-sm-6">
        <div class="widget">
          <h4 class="text-capitalize mb-4">Liens rapides</h4>

          <ul class="list-unstyled footer-menu lh-35">
            <li><a href="index.html">Accueil</a></li>
            <li><a href="pro.html">Projets</a></li>
            <li><a href="blog-grid.html">Équipe</a></li>
            <li><a href="contact.html">Blogs</a></li>
            <li><a href="contact.html">Contact</a></li>
          </ul>
        </div>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-6 d-flex justify-content-end">
        <div class="widget">
          <div class="logo mb-4">
            <h3>Algo<span>ÉTS</span></h3>
          </div>
          <h6><a href="mailto:algoets@ens.etsmtl.ca" target="_blank">algoets@ens.etsmtl.ca</a></h6>
          <ul class="list-inline footer-socials mt-4">
            <li class="list-inline-item"><a href="https://www.facebook.com/ClubAlgoETS" target="_blank"><i class="fab fa-facebook-f mr-2"></i></a></li>
            <li class="list-inline-item"><a href="https://ca.linkedin.com/company/algoets" target="_blank"><i class="fab fa-linkedin mr-2"></i></a></li>
            <li class="list-inline-item"><a href="https://github.com/AlgoETS" target="_blank"><i class="fab fa-github mr-2 "></i></a></li>
            <li class="list-inline-item"><a href="https://discord.com/invite/PbWxX7B6dx" target="_blank"><i class="fab fa-discord mr-2 "></i></a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="footer-btm pt-4">
      <div class="row">
        <div class="col-lg-12 text-center">
          <div class="copyright">
            Copyright &copy; 2024, Personnalisée et déployée par <a href="https://cedille.etsmtl.ca/">Club Cédille</a>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<!--Scroll to top-->
<div id="scroll-to-top" class="scroll-to-top">
  <span class="icon fa fa-angle-up"></span>
</div>
