<!-- Header Start -->
<header class="navigation">
  <div class="header-top ">
    <div class="container">
      <div class="row justify-content-between align-items-center">
        <div class="col-lg-2 col-md-4">
          <div class="header-top-socials text-center text-lg-left text-md-left">
            <a href="https://www.facebook.com/ClubAlgoETS" aria-label="facebook" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a href="https://ca.linkedin.com/company/algoets" aria-label="twitter" target="_blank"><i class="fab fa-linkedin"></i></a>
            <a href="https://github.com/AlgoETS" aria-label="github" target="_blank"><i class="fab fa-github"></i></a>
            <a href="https://discord.com/invite/PbWxX7B6dx" aria-label="github" target="_blank"><i class="fab fa-discord"></i></a>
          </div>
        </div>
        <div class="col-lg-10 col-md-8 text-center text-lg-right text-md-right">
          <div class="header-top-info mb-2 mb-md-0">
            <a href="mailto:algoets@ens.etsmtl.ca" target="_blank"><i class="fas fa-envelope mr-2"></i><span>algoets@ens.etsmtl.ca</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="navbar">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <nav class="navbar navbar-expand-lg px-0 py-4">
            <a class="navbar-brand" href="index.html">
              <img src="/images/logoHeader.png" width="200" height="100" class="d-inline-block align-top" alt="">
            </a>
      
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample09"
              aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
              <span class="fa fa-bars"></span>
            </button>
      
            <div class="collapse navbar-collapse text-center" id="navbarsExample09">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item @@home">
                  <a class="nav-link" href="index.html">Accueil</a>
                </li>
                <li class="nav-item dropdown @@about">
                  <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Projets <i class="fas fa-chevron-down small"></i></a>
                  <ul class="dropdown-menu" aria-labelledby="dropdown03">
                    <li><a class="dropdown-item @@company" href="about.html">Notre Club</a></li>
                    <li><a class="dropdown-item @@pricing" href="pricing.html">Partenaires</a></li>
                    
                    <li class="dropdown dropdown-submenu dropright">
                      <a class="dropdown-item dropdown-toggle" href="#!" id="dropdown0301" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Blog</a>
            
                      <ul class="dropdown-menu" aria-labelledby="dropdown0301">
                        <li><a class="dropdown-item" href="index.html">01</a></li>
                        <li><a class="dropdown-item" href="index.html">02</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="nav-item @@service"><a class="nav-link" href="service.html">Équipe</a></li>
                <li class="nav-item @@project"><a class="nav-link" href="project.html">Portfolio</a></li>
                <li class="nav-item dropdown @@blog">
                  <a class="nav-link dropdown-toggle" href="#" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Blog <i class="fas fa-chevron-down small"></i></a>
                  <ul class="dropdown-menu" aria-labelledby="dropdown05">
                    <li><a class="dropdown-item @@blogGrid" href="blog-grid.html">Blog Grid</a></li>
                    <li><a class="dropdown-item @@blogSidebar" href="blog-sidebar.html">Blog with Sidebar</a></li>
                    <li><a class="dropdown-item @@blogSingle" href="blog-single.html">Blog Single</a></li>
      
                    <li class="dropdown dropdown-submenu dropleft">
                      <a class="dropdown-item dropdown-toggle" href="#!" id="dropdown0501" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sub Menu</a>
            
                      <ul class="dropdown-menu" aria-labelledby="dropdown0501">
                        <li><a class="dropdown-item" href="index.html">01</a></li>
                        <li><a class="dropdown-item" href="index.html">02</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="nav-item @@contact"><a class="nav-link" href="contact.html">Contact</a></li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Header Close -->
