<section class="section service border-top">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-7 text-center">
				<div class="section-title">
					<span class="h6 text-color">Analyse de données financière</span>
					<h2 class="mt-3 content-title">Nos projets</h2>
					<p>
						En plus de développer des stratégies de trading algorithmique, nous développons des outils pour
						les tester et les améliorer. Nous développons également des outils.
					</p>
				</div>
			</div>
		</div>

		<div class="row justify-content-center">
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-item mb-5">
					<i class="ti-desktop"></i>
					<h4 class="mb-3">AINewsTracker</h4>
					<p>AINewsTracker: un projet de développement d’un robot d’investissement intelligent sur binance qui
						analyse les nouvelles et les réseaux sociaux pour prédire les mouvements de prix des
						cryptomonnaies.</p>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-item mb-5">
					<i class="ti-desktop"></i>
					<h4 class="mb-3">BatchBacktesting</h4>
					<p>BatchBacktesting est un projet de développement d’un robot d’investissement intelligent sur
						binance</p>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-item mb-5">
					<i class="ti-layers"></i>
					<h4 class="mb-3">Crypto Whale</h4>
					<p>Copier les transactions des plus grands investisseurs de la bourse et crypto en temps réel</p>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-item mb-5">
					<i class="ti-bar-chart"></i>
					<h4 class="mb-3">TradingView et Quandconnect</h4>
					<p>Stratégie de trading pour les plateformes de trading existante</p>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-item mb-5 mb-lg-0">
					<i class="ti-vector"></i>
					<h4 class="mb-3">Analyse de données financière</h4>
					<p>Apprend comment creer la stratégie avec des données financière et indicateur technique</p>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-item mb-5 mb-lg-0">
					<i class="ti-android"></i>
					<h4 class="mb-3">ComETS</h4>
					<p>ComETS est un projet de développement d’un robot d’investissement intelligent sur binance</p>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-item mb-5 mb-lg-0">
					<i class="ti-pencil-alt"></i>
					<h4 class="mb-3">BullETS</h4>
					<p>Nous développons notre propre librairie pour tester des algorithmes de trading sur des données
						historiques.</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!--  Section Services End -->

<!-- Section Cta Start -->
<section class="section cta">
	<div class="container">
		<div class="row">
			<div class="col-xl-5 col-lg-6">
				<div class="cta-item  bg-white p-5 rounded">
					<span class="h6 text-color">Programmer par des étudiants</span>
					<h2 class="mt-2 mb-4">Nous sommes des étudiants de l’École de technologie supérieure</h2>
					<p class="lead mb-4">Nous sommes des étudiants de l’École de technologie supérieure. Nous sommes
						passionnés par les sciences de données, les finances et le développement informatique. Nous
						avons créé ce club pour combler un vide dans l’offre de clubs de l’ÉTS.</p>
				</div>
			</div>
		</div>
	</div>
</section>