<section class="slider">
	<div class="container">
		<div class="row">
			<div class="col-lg-9 col-md-10">
				<div class="block">
					<span class="d-block mb-3 text-white text-capitalize">Prédire la courbe</span>
					<h1 class="animated fadeInUp mb-5">Le club de <br> trading algorithmique <br></h1>
					<a href="#" class="btn btn-main animated fadeInUp btn-round-full" aria-label="Get started">Savoir
						Plus<i class="btn-icon fa fa-angle-right ml-2"></i></a>
				</div>
			</div>
		</div>
	</div>
</section>