<ul class="social-icons list-inline mt-5">
    <li class="list-inline-item">
        <a href="https://www.facebook.com/AlgoETS" target="_blank"><i class="fab fa-facebook-f"></i></a>
    </li>
    <li class="list-inline-item">
        <a href="https://twitter.com/AlgoETS" target="_blank"><i class="fab fa-twitter"></i></a>
    </li>
    <li class="list-inline-item">
        <a href="https://www.linkedin.com/company/algoets/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
    </li>
    <li class="list-inline-item">
        <a href="https://discord.gg/5aPcUrvA" target="_blank"><i class="fab fa-discord"></i></a>
    </li>
</ul>