<div class="container">
    <div class="row justify-content-between align-items-center">
        <div class="col-lg-2 col-md-4">
            <div class="header-top-socials text-center text-lg-left text-md-left">
                <a href="https://www.facebook.com/ClubAlgoETS" aria-label="facebook" target="_blank"><i
                        class="fab fa-facebook-f"></i></a>
                <a href="https://ca.linkedin.com/company/algoets" aria-label="twitter" target="_blank"><i
                        class="fab fa-linkedin"></i></a>
                <a href="https://github.com/AlgoETS" aria-label="github" target="_blank"><i
                        class="fab fa-github"></i></a>
                <a href="https://discord.com/invite/PbWxX7B6dx" aria-label="github" target="_blank"><i
                        class="fab fa-discord"></i></a>
            </div>
        </div>
        <div class="col-lg-10 col-md-8 text-center text-lg-right text-md-right">
            <div class="header-top-info mb-2 mb-md-0">
                <a href="mailto:algoets@ens.etsmtl.ca" target="_blank"><i
                        class="fas fa-envelope mr-2"></i><span>algoets@ens.etsmtl.ca</span></a>
            </div>
        </div>
    </div>
</div>
</div>